


<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <title>search for enterprise</title>
  </head>
  <body>

      {% include 'new_navbar.html'  %}

    <br/>


<div class="container" style="position:relative; margin-top:100px">

    <div class="row">

        <div class="col-lg-3 d-none d-md-block">
            <ul class="list-group shadow bg-white rounded sticky-top">


                <h1 style="text-align: center">Links you might be interested in!</h1>

                <div class="scroller" data-speed="fast">
                  <ul class="tag-list scroller__inner">
                    <li>e-sante</li>
                    <li>full Experts</li>
                    <li>chopEtYamo</li>
                    <li>ENEO</li>
                    <li>MTN Cameroon</li>
                    <li>ORANGE Cameroon</li>
                    <li>Douala Zoon</li>
                  </ul>
                </div>

                <div class="scroller" data-direction="right" data-speed="slow">
                  <div class="scroller__inner">


                      <div class="container-fluid">
                        <a class="navbar-brand" href="#">
                          <img src="{{ url_for('static', filename='images/main-logo.PNG') }}" alt="logo of full experts consulting" width="90" height="64" class="d-inline-block align-text-top img-fluid">
                        </a>
                      </div>
                    <div class="container-fluid">
                        <a class="navbar-brand" href="http://eneocameroon.cm/">
                          <img src="{{ url_for('static', filename='uploads/bc8a6841-093f-11ef-bd8e-181dea30d9cc_eneo.PNG') }}" alt="logo of eneo" width="90" height="64" class="d-inline-block align-text-top img-fluid">
                        </a>
                      </div>
                    <div class="container-fluid">
                        <a class="navbar-brand" href="https://www.mtn.cm/">
                          <img src="{{ url_for('static', filename='uploads/eadc367b-0b9e-11ef-9e3d-181dea30d9cc_mtn.PNG') }}" alt="logo of mtn" width="90" height="64" class="d-inline-block align-text-top img-fluid">
                        </a>
                      </div>
                    <div class="container-fluid">
                        <a class="navbar-brand" href="https://www.ubacameroon.com">
                          <img src="{{ url_for('static', filename='uploads/3faed2b4-0ba2-11ef-adff-181dea30d9cc_uba.PNG') }}" alt="logo of uba" width="90" height="64" class="d-inline-block align-text-top img-fluid">
                        </a>
                      </div>
                     <div class="container-fluid">
                        <a class="navbar-brand" href="https://www.orange.cm">
                          <img src="{{ url_for('static', filename='uploads/deb58242-0ba3-11ef-86a0-181dea30d9cc_orange.PNG') }}" alt="logo of orange" width="90" height="64" class="d-inline-block align-text-top img-fluid">
                        </a>
                      </div>

                       <div class="container-fluid">
                        <a class="navbar-brand" href="http://www.e-santecameroun.cm/">
                          <img src="{{ url_for('static', filename='uploads/4bbae00f-093c-11ef-8957-181dea30d9cc_esante.JPG') }}" alt="logo of e-sante" width="90" height="64" class="d-inline-block align-text-top img-fluid">
                        </a>
                      </div>


                  </div>
                </div>

                <a class="yt" href="#">
                  Full Experts Consulting
                </a>

              WITH US, YOUR BUSINESS IS SAFE
            </ul>
            <hr class="d-sm-none">
        </div>
        <div class="col-md-6">

             <p><h3 style="color:red">Your search results. {{s}} enterprise(s) was/were found in our database</h3> </p>
            <div class="card shadow bg-white rounded">
                {% if posts %}
                    {% for post in posts %}
                        <div class="shadow p-3 mb-1 bg-body rounded" id="box">
                            <div class="card mb-3 mx-auto " style="max-width: 840px;">
                                <div class="row g-0">
                                  <div class="col-sm-2">

                                      {% if post.logo %}
                                         <img src="{{ url_for('static', filename='uploads/' + post.logo) }}" class="card-img-top img-fluid" style=" width: 80px; height: 80px" alt="nothing">

                                      {% else %}
                                         <img src="{{ url_for('static', filename='uploads/default.PNG') }}" class="card-img-top img-fluid" style=" width: 80px; height: 80px" alt="photo">

                                      {% endif %}

                                  </div>
                                  <div class="col-md-8" style=" height: 20%;">
                                    <div class="card-body ">
                                          <h6 class="card-title"><b style="color: #DE3163; font-size:10px">{{post.nom_enterprise}} </b><br>
                                              <h7 style="font-size:10px">
                                                      Tel: {{post.enterprise_tel}},
                                                      Email: {{post.email_enterprise}}<br>
                                                      Situé à {{post.location}}

                                              </h7>

                                              <a class="btn btn-success btn-sm"  href="{{url_for('details_on_enterprises', id=post.id)}}" role="button">
                                                         details
                                              </a>
                                          </h6>



                                    </div>
                                  </div>
                                </div>
                              </div>

                        </div>
                        {% endfor %}


                {% else %}
                    <div style="background-color: white">Sorry! No Enterprises found</div>

                {% endif %}
            </div>
            <hr class="d-sm-none">
        </div>



        <div class="col-md-3 d-none d-md-block">
            <ul class="list-group shadow bg-white rounded sticky-top">


            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">

                        <div class="card" style="width: 12rem; height:12rem">
                            <a href="">
                                <img src="https://th.bing.com/th/id/R.a147f260c69c5c33bd6d5b919483a8e5?rik=YH%2bIe7Fd9KyKtg&pid=ImgRaw&r=0&sres=1&sresct=1" class="card-img-top" alt="...">
                            </a>
<!--                          <div class="card-body">-->
<!--                            <h5 class="card-title">Afriland First Bank</h5>-->
<!--                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--                            <a href="https://www.afrilandfirstbank.com/" class="btn btn-primary">Visite the site</a>-->
<!--                          </div>-->
                        </div>
                </div>
                <div class="carousel-item">
                            <div class="card" style="width: 12rem; height:12rem">
                                <a href="">
                                    <img src="https://th.bing.com/th/id/OIP.GgvdHJQfkGje2oVkxprIqAAAAA?rs=1&pid=ImgDetMain" class="card-img-top" alt="...">
                                </a>
<!--                          <div class="card-body">-->
<!--&lt;!&ndash;                            <h5 class="card-title">Eneo Cameroon</h5>&ndash;&gt;-->
<!--&lt;!&ndash;                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>&ndash;&gt;-->
<!--&lt;!&ndash;                            <a href="#" class="btn btn-primary">Visit the site</a>&ndash;&gt;-->
<!--                          </div>-->
                        </div>


                </div>
                <div class="carousel-item">

                    <div class="card" style="width: 12rem; height:12rem">
                        <a href="">
                            <img src="https://th.bing.com/th/id/R.43237e232b7130c8e381308cbf73a69f?rik=GLrk%2byTkhG8GUA&pid=ImgRaw&r=0" class="card-img-top" alt="...">
                        </a>
<!--                          <div class="card-body">-->
<!--                            <h5 class="card-title">United Bank for Africa</h5>-->
<!--                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--                            <a href="#" class="btn btn-primary">Visit the site</a>-->
<!--                          </div>-->
                        </div>


                </div>
              </div>

            </div>

                <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="card bg-dark text-white">
                              <img src="https://maligah.com/files?filename=2020/04/esante.jpg" class="card-img" alt="...">
                              <div class="card-img-overlay">
                                <h5 class="card-title">e-sante</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text">Last updated 40 mins ago</p>
                              </div>
                            </div>


                        </div>
                        <div class="carousel-item">


                            <div class="card bg-dark text-white">
                              <img src="https://th.bing.com/th/id/R.e14fd7e094b3942675c448f1f407b3f8?rik=EYYqRFUmCCReyA&pid=ImgRaw&r=0" class="card-img" alt="...">
                              <div class="card-img-overlay">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text">Last updated 100 mins ago</p>
                              </div>
                            </div>



                        </div>
                        <div class="carousel-item">

                            <div class="card bg-dark text-white">
                              <img src="https://www.zdnet.com/a/img/resize/1b0f3a471607ff123236026b04b964e1853ed41b/2023/04/05/e0478a88-b3ed-4516-8459-e0b919b4b2bc/artificial-intelligence.jpg?auto=webp&fit=crop&height=900&width=1200" class="card-img" alt="...">
                              <div class="card-img-overlay">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text">Last updated 3 mins ago</p>
                              </div>
                            </div>


                        </div>
                      </div>
                      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    </div>




            </ul>
            <hr class="d-sm-none">
        </div>
    </div>
</div>


      <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

      <script>

                  // Select all elements with the ID "box"
        const boxes = document.querySelectorAll('#box');

        // Add an event listener to execute the checkBoxes function when the window scrolls
        window.addEventListener('scroll', checkBoxes);

        // Call the checkBoxes function initially to check visibility on page load
        checkBoxes();

        function checkBoxes() {
          // Calculate the trigger point for visibility (4/5th of the viewport height)
          const triggerBottom = window.innerHeight * 0.7; // Using 0.7 for clarity

          // Loop through each box element
          boxes.forEach(box => {
            // Get the distance from the top of the viewport to the top of the box
            const boxTop = box.getBoundingClientRect().top;

            // Check if the box is within the trigger point
            if (boxTop < triggerBottom) {
              // If visible, add the 'show' class
              box.classList.add('show');
            } else {
              // If not visible, remove the 'show' class
              box.classList.remove('show');
            }
          });
}






const scrollers = document.querySelectorAll(".scroller");

// If a user hasn't opted in for recuded motion, then we add the animation
if (!window.matchMedia("(prefers-reduced-motion: reduce)").matches) {
  addAnimation();
}

function addAnimation() {
  scrollers.forEach((scroller) => {
    // add data-animated="true" to every `.scroller` on the page
    scroller.setAttribute("data-animated", true);

    // Make an array from the elements within `.scroller-inner`
    const scrollerInner = scroller.querySelector(".scroller__inner");
    const scrollerContent = Array.from(scrollerInner.children);

    // For each item in the array, clone it
    // add aria-hidden to it
    // add it into the `.scroller-inner`
    scrollerContent.forEach((item) => {
      const duplicatedItem = item.cloneNode(true);
      duplicatedItem.setAttribute("aria-hidden", true);
      scrollerInner.appendChild(duplicatedItem);
    });
  });
}




      </script>
<!--      <script src=" {{ url_for('static', filename='app.js') }} "></script>-->
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>
